.mainAdminSection{
    background-color: rgb(206, 222, 177);
    display: grid;
    padding: 50px;
    grid-template-columns: 1fr 4fr;
}
.adminBtnSelection{
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.inputSection{
    border: 1px black solid;
}
.links{
    text-decoration: none;
    display: flex;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    height: 100px;
}

.links:nth-child(2) input{
   width: 100px;
   border-radius: 10px;
   margin: 10px;
}
.links:nth-child(2) button{
    height: 100%;
    width: 100%;
    background-color:unset;
    border: unset;
    font-size: inherit;
    font-family: inherit;
}


