.mainAdminSection{
    background-color: rgb(206, 222, 177);
    display: grid;
    padding: 50px;
    grid-template-columns: 4fr 1fr;
}
.adminBtnSelection{
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inputSection{
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputSection .addingForm{
    width: 250px;
    height: 300px;
    padding: 15px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}
.inputSection .addingForm{
    display: flex;
    flex-direction: column;
}
.links{
    text-decoration: none;
    display: flex;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    height: 100px;
}

.links:nth-child(2) input{
   width: 100px;
   border-radius: 10px;
   margin: 10px;
}
.links:nth-child(2) .editLink{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    font-family: inherit;
}


