*{
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    position: relative;
    height: 100vh;
    width: 90%;
    margin: 0px auto;
    border: solid 1px black;
}
header{
    height: 50px;
    border: solid 1px black;
    width: 100%;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 50px;
    border: solid 1px black; 
}