* {
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12fr 1fr;
  height: 775px;
  width: 1300px;
  margin: 0px auto;
  border: solid 1px black;
}
header {
  direction: rtl;
  display: flex;
  border: solid 1px black;
  align-items: center;
}
header .navBarLinks {
  text-decoration: none;
  border: 1px solid black;
  width: 100px;
  text-align: center;
  border-radius: 10px;
}
header .navBarLinks:nth-child(3) {
  margin-left: 10px;
  margin-right: 10px;
}
header .navBarLinks:nth-child(1) {
  margin-left: auto;
  margin-right: 10px;
}

footer {
  border: solid 1px black;
}
