.StoreMainSection {
    display: grid;
    grid-template-columns: repeat(5, 220px);
    justify-content: space-around;
  }
  .StoreMainSection .item{
    background-color:rgb(124, 196, 210);
    padding: 5px;
    border-radius: 10px;
      height: 250px;
      border: solid black 2px;
      margin: 10px;
      display: grid;
      grid-template-rows: 60% 10% 10% 10% 10%;
      text-align: center;
      font-size: small;
      
  }
  .StoreMainSection .item img{
    width: 100%;
    height: 100%;
  }
  .StoreMainSection .item .description{
    font-size: x-small;
  }
  .StoreMainSection .item button{
    width: 100px;
    margin: 0 auto;
  }











  .mainSection::-webkit-scrollbar {
    width: 10px;
  }
  .mainSection::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .mainSection::-webkit-scrollbar-thumb {
    background: #888;
  }
  .mainSection::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
